.hero__button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: var(--hover-background-color);
    
        }
}

.portfolio-btn {
    padding: 6px 25px;

    font-family: 'Roboto';
    font-weight: 500;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--white-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    &.all {
        padding: 6px 25px;
    }
}

.button-sub {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 28px;
    min-width: 200px;
    height: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: var(--hover-background-color);
        }
    @include desktop {
        margin-left: 12px;
    }
}

.mailer__form {
    margin-top: 20px;
    justify-content: center;
    justify-items: center;

    @include desktop {
        display: flex;
    }
}

.mailer__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-icon {
    fill: var(--white-color);
    margin-left: 10px;
    vertical-align: middle;
}

