.modal {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;

    padding: 35px 40px 45px 40px;
    position: absolute;

    @include max-mobile {
        width: 100vw;
        height: 100vh;
    }

    @include mobile {
        width: 450px;
        height: 609px;
    }

    @include desktop {
        width: 528px;
        height: 581px;
    }


    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            fill: var(--accent-color);
        }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}



.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;

    color: var(--secondary-color)
}

.modal-label {
    position: relative;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primary-color)
}

.modal-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.87;
    padding-left: 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
            border-color: var(--accent-color);
        }
}

.comment-text {
    @include mobile {
        height: 120px;
    }
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
        }
    &:focus,
    &:hover {
            border-color: var(--accent-color);
        }
}

.modal-field-comment {
    margin-bottom: 20px;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-field:focus-within & {
            fill: var(--accent-color);
        }
}



.btn-modal-submit {
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 52px;
    background-color: var(--accent-color);
    border-color: transparent;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

