.underline {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.list {
    list-style: none;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.is-overflow {
    overflow: hidden;
}

section {
    padding-bottom: 60px;
    padding-top: 60px;

    @include desktop {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}