:root {
    --accent-color: #2196f3;

    --hover-background-color: #188ce8;
    /* bg hover for hero button */

    --secondary-color: #212121;
    /* text titles */

    --primary-color: #757575;
    /* text */

    --border-color: #ececec;
    /* border */

    --no-accent-color: #AFB1B8;

    --white-color: #ffffff;

    --black-color: #000000;

    --secondary-background-color: #f5f4fa;
    /* bg some buttons */

    --address-primary-color: rgba(255, 255, 255, 0.6);

    --primary-background-color: #2f303a;
    /* bg footer and hero */

    --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");


