.team {
    background-color: var(--secondary-background-color);
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: var(--secondary-color);
        margin-bottom: 50px;
    
        @include max-tablet {
            font-size: 28px;
        }
    }

    &__list {
        display: grid;
        gap: 30px;
        @include tablet {
           display: flex;
           flex-wrap: wrap; 
        }
    }

    &__item {
        width: 270px;
        background: var(--white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 30px) / 2);
        }
    }
}



// .team-img {
//     display: flex;
//     gap: 30px;
// }


.card {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--secondary-color);
    }

    &__item {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 16px;
    }
}

