.portfolio-nav {
    display: flex;
    gap: 8px;

    @include max-mobile {
        flex-wrap: wrap;
        margin-bottom: 40px;
        row-gap: 15px;
    }

    @include tablet {
        margin-bottom: 30px;
        justify-content: center;
    }

    @include desktop {
        margin-bottom: 50px;
    }
}

.portfolio-item {
    background-color: var(--white-color);
    width: 100vw;
    
    @include tablet {
        max-width: calc((100% - 30px) / 2);
    }

    @include desktop {
        max-width: calc((100% - 60px) / 3);
    }
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.portfolio-top-text {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1.56;
    padding: 64px 24px;
    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0);
    }
}

.portfolio-title {
    margin-bottom: 4px;


    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}

.portfolio-type {
    margin-top: 0;

    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-color);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-descr {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    }
}


